.ms-controller{visibility: hidden;}
.pagination{ margin:0 0 10px 0; vertical-align: top;}
.panel,.well,.alert,.breadcrumb{margin-bottom:10px;}
.form-control,.input-group-addon{ padding:6px;}
.alert{ padding-top:10px;  padding-bottom:10px;}
.form-group{margin-bottom:5px;margin-top:5px;}
body,.form-control{ font-size:12px;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{ padding:6px; line-height: 2;}
.modal-header{padding:8px;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,.form-horizontal .form-group,.row{padding-left: 5px;padding-right: 5px;}
.form-horizontal .form-group{margin-left: -5px;margin-right: -5px;}
.container-fluid{ padding-top:5px;}
.loading { background-image: url(../images/loading.gif); background-repeat: no-repeat; background-position: center center; }
.jumbotron-w { background-color: #FFF; }
input[type="checkbox"], input[type="radio"] {margin:0;}
/*边距*/
.m5 { margin:5px }
.m10 { margin:10px }
.m15 { margin:15px }
.m20 { margin:20px }
.mt5 { margin-top:5px }
.mt10 { margin-top:10px }
.mt15 { margin-top:15px }
.mt20 { margin-top:20px }
.mb5 { margin-bottom:5px }
.mb10 { margin-bottom:10px }
.mb15 { margin-bottom:15px }
.mb20 { margin-bottom:20px }
.ml5 { margin-left:5px }
.ml10 { margin-left:10px }
.ml15 { margin-left:15px }
.ml20 { margin-left:20px }
.mr5 { margin-right:5px }
.mr10 { margin-right:10px }
.mr15 { margin-right:15px }
.mr20 { margin-right:20px }
.p5 { padding:5px; }
.p10 { padding:10px; }
.p15 { padding:15px; }
.p20 { padding:20px; }
.pt5 { padding-top:5px }
.pt10 { padding-top:10px }
.pt15 { padding-top:15px }
.pt20 { padding-top:20px }
.pb5 { padding-bottom:5px }
.pb10 { padding-bottom:10px }
.pb15 { padding-bottom:15px }
.pb20 { padding-bottom:20px }
.pl5 { padding-left:5px }
.pl10 { padding-left:10px }
.pl15 { padding-left:15px }
.pl20 { padding-left:20px }
.pr5 { padding-right:5px }
.pr10 { padding-right:10px }
.pr15 { padding-right:15px }
.pr20 { padding-right:20px }

/*文字排版、颜色*/
.f12 { font-size:12px }
.f13 { font-size:13px }
.f14 { font-size:14px }
.f16 { font-size:16px }
.f18 { font-size:18px }
.f20 { font-size:20px }
.fb { font-weight:bold }
.fn { font-weight:normal }
.t2 { text-indent:2em }
.blue, a.blue { color:#03c }
.red, a.red { color:#f00 }
.darkred, a.darkred { color:#c00 }
.black, a.black { color:#333 }
.gray, a.gray { color:#666 }
.green, a.green { color:#090 }
.orange, a.orange { color:#F90 }
.lh150 { line-height:150% }
.lh180 { line-height:180% }
.lh200 { line-height:200% }
.unl { text-decoration:underline; }
.no_unl { text-decoration:none; }